

.App {
  text-align: center;
}


.navbar {
  min-height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  font-size: 2em;
  color: white;
}

.nav-link {
  font-size: 1.5em;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}






@media (min-width: 900px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  .cover {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }

  .quote {
    position: relative;
    font-size: 2rem;
    text-align: center;
    padding-top: 15%;


  }
  .title {
    font-family: 'Lobster', cursive;
    position: relative;
    font-size: 20rem;
    text-align: center;
    padding-top: 10%;
  }

  .authenticate {
    position: relative;
    max-width: 450px;
    margin: auto;
    padding-top: 12%;

  }
  .authenticate-form {
    max-width: 400px;
    margin: auto;
  }

  .begin {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    width: 300px;

  }

  .outline-info {
    background-color: #84739a;
    color: #84739a;
  }

}

@media (max-width: 900px) {

  .cover {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    display: flex;
  }

  .quote {
    position: relative;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 18%;


  }
  .title {
    font-family: 'Lobster', cursive;
    position: relative;
    font-size: 10rem;
    text-align: center;
    padding-top: 8%;
  }

  .authenticate {
    position: relative;
    max-width: 450px;
    margin: auto;
    padding-top: 15%;

  }
  .authenticate-form {
    max-width: 400px;
    margin: auto;
  }

  .begin {
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 8%;
    width: 150px;
  }



}
